---
import ContactForm from "../../components/forms/ContactForm.astro";
import Layout from "../../layouts/Page.astro";
import { Container } from "@components/odyssey-theme";

const seo = {
  title: "Contact | Be In the Moment",
  description: "Contact Page",
};
---

<Layout {seo}>
  <Container>
    <section class="contact-hero__section">
      <div class="contact-hero__text-section">
        <h1>Thankyou for your interest</h1>
        <p>
      Please check back here soon for more info
		</p>
    </section>
  </Container>
</Layout>

<style>
  .contact-hero__section {
    margin: var(--section-margin) auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: calc(90vh - var(--navbar-height));
    gap: 3rem;
  }
  .contact-hero__text-section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--theme-surface-1);
    border-radius: var(--theme-shape-radius);
  }
  .col-2__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 768px) {
    .contact-hero__section {
      grid-template-columns: 1fr;
    }
  }
</style>
