---
import { TextSection } from "@components/odyssey-theme";
import Layout from "../../layouts/Page.astro";
import HeroSection from "../../components/sections/heros/HeroSection.astro";

const seo = {
  title: "About Me | Be In The Moment",
  description: "About Me",
};
---

<Layout {seo}>
  <HeroSection>
    <div slot="text-container">
      <h1>Coming Soon!</h1>
      <p>Please check back here for more information in the future.

      In the meantime please contact us for an questions
      </p>
    </div>
  </HeroSection>
</Layout>
