---
import { Icon } from "astro-icon/components";
import {
  AnnouncementBar,
  Button,
  CustomerQuoteSection,
  ThreeColumnTextSection,
  YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection,
} from "@components/odyssey-theme";
import Layout from "../layouts/Page.astro";
import TextAndImageHero from "../components/sections/heros/TextAndImageHero.astro";

const seo = {
  title: "Landing Page #1 | Astro Odyssey Theme",
  description: "Landing Page #1 | Astro Odyssey Theme",
};
---

<AnnouncementBar
  text="Find us on Facebook"
  href="https://www.facebook.com/profile.php?id=61558446655491"
  slot="announcement-bar"
/>

<Layout {seo}>
  <TextAndImageHero reversed>
    <div slot="text-container">
      <h1>Take a moment to pause</h1>
      <p>Connecting with your experience without expectation or agenda.</p>
    </div>
    <div slot="btns-container">
      <Button href="/company/contact" customIcon
        >Book Now <Fragment slot="icon">
          <Icon name="ic:baseline-chevron-right" />
        </Fragment></Button
      >
    </div>
    <picture slot="image-container">
      <img
        src="/assets/images/beinthemoment-logo.jpg"
        alt="beinthemoment"
        id="home-hero-image"
      />
    </picture>
  </TextAndImageHero>

  <CustomerQuoteSection
    quoteText="I found the session so helpful and impactful on my life. Before the sessions I found it quite difficult to stay calm in stressful situations. Attending Kimberley mindfulness sessions has help me to use my breath to recognise things around me and too feel at peace. The sessions allowed me to share my experience with others and recognise we're not alone with our busy mind."
    customerName="Grace - September 2024"
  />

  <ThreeColumnTextSection>
    <div slot="column-1-body">
      <h2>Why Mindfulness?</h2>
      <p>
        If you find yourself constantly distracted, stressed and overwhelmed
        with thoughts of the past, present and future then mindfulness can help.
        Living on auto-pilot moving from one task to the next, without awareness
        of each present moment. <br>Using mindfulness practices can support you to
        manage the stresses of life and bring a sense of calmness to your day.
      </p>
    </div>
    <div slot="column-2-body">
      <h2>Our classes</h2>
      <p>
       Be expertly guided through a variety of practices supporting you to stay present settling both mind and body.<br>
Short practices, from mindful eating, breathing techniques, and body scans supporting you to stay grounded.<br>
I will guide you through practices that support you to practise at your own pace, in a safe and comfortable space. 
      </p>
    </div>
    <div slot="column-3-body">
      <h2>Where and When</h2>
      <p>
        Mindful Monday sessions are held at the Leicester Progressive Jewish Congregation ( Avenue Road, LE2 3EA) at the following times every Monday<br>
        <ul list-style-type:none>
          <li>12.45pm until 1.30pm ( £8 per session)</li>
          <li>7.30pm until 8.45pm  ( £10 per session)</li>
        </ul>
        Our lunchtime sessions on a Monday give a welcome back from the busy
        life or work<br>
      </p>
    </div>
          <Button href="/company/contact" customIcon
        >Book Now <Fragment slot="icon">
          <Icon name="ic:baseline-chevron-right" />
        </Fragment></Button
      >
    </div>
  </ThreeColumnTextSection>

  <YouTubeEmbedSection url="https://youtu.be/BD3wk35LwBs" rounded
  />

  <StickyTextImageSection>
    <div slot="text-container">
      <h2>More about mindfulness</h2>
      <h3>Life is busy, take time for you.</h3>
      <p>
        Mindfulness is a way of being in touch with life directly as it emerges,
        unfolds and changes. This sounds simple but in reality is hard to
        practise as our mind is very good at becoming quickly distracted. So
        even when setting an intention to notice our thoughts, without allowing
        them to take over we might notice that before too long our mind has
        wandered and we are caught up in our thoughts.
        <p>
        Living on auto-pilot moving from one task to the next, without awareness of each present moment. Using mindfulness practices can support you to manage the stresses of life and bring a sense of calmness to your day.  
        </p>
      </p>
      <h3>Ancient buddhist practice</h3>
      <p>
        Mindfulness is an ancient buddhist practice that supports us to stay in the present moment. 
      </p>
      <p>
        When practising mindfulness we are inviting ourselves to connect with our present experience.  
        We are not in control of our minds; they are involuntary, and so our thoughts come and go on their own. 
        In doing so we learnt to create awareness and appreciate of our individual experience as we are in it.  
        In mindfulness we learn to become aware of the thoughts, not to avoid and ignore but accept their presence. 
       <p>
       <b><i>‘Knowing what is happening, while it is happening, without preference’. Rob Nairn</i></b>
        </p>
    </p>
    </div>
    <picture slot="image-container">
      <img
        src="/assets/images/body-scan.jpeg"
        alt="Astro Odyssey"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>

  <CtaCardSection
    background="var(--theme-surface-2)"
    color="var(--theme-on-surface-2)"
  >
    <h2>Start your journey for into mindfulness today</h2>
    <p>Book onto one of our classes today</p>
    <Button href="/company/contact" customIcon
      >Book Now<Fragment slot="icon">
        <Icon name="ic:baseline-chevron-right" />
      </Fragment></Button
    >
  </CtaCardSection>
</Layout>
