---
import { Icon } from "astro-icon/components";
import {
  AnnouncementBar,
  Button,
  CustomerQuoteSection,
  ThreeColumnTextSection,
  YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection,
} from "@components/odyssey-theme";
import Layout from "../layouts/Page.astro";
import TextAndImageHero from "../components/sections/heros/TextAndImageHero.astro";

const seo = {
  title: "Landing Page #1 | Astro Odyssey Theme",
  description: "Landing Page #1 | Astro Odyssey Theme",
};
---

<AnnouncementBar
  text="Find us on Facebook"
  href="https://www.facebook.com/profile.php?id=61558446655491"
  slot="announcement-bar"
/>

<Layout {seo}>
  <TextAndImageHero reversed>
    <div slot="text-container">
      <h1>Take a moment to pause</h1>
      <p>Connecting with your experience without expectation or agenda.</p>
    </div>
    <div slot="btns-container">
      <Button href="/theme/get-started" customIcon
        >Get Started <Fragment slot="icon">
          <Icon name="ic:baseline-chevron-right" />
        </Fragment></Button
      >
    </div>
    <picture slot="image-container">
      <img
        src="/assets/beinthemoment-logo.jpg"
        alt="beinthemoment"
        id="home-hero-image"
      />
    </picture>
  </TextAndImageHero>

  <CustomerQuoteSection
    quoteText="I found the session so helpful and impactful on my life today. Before the sessions I found it quite difficult to stay calm in stressful situation. Mindefullness has help me to use my breath to recognise thing around me to feel at peace. The sessions allowed me to recgnise we're not alone with our busy mind via sharing my experience with others. "
    customerName="Grace"
  />

  <ThreeColumnTextSection>
    <div slot="column-1-body">
      <h2>Why?</h2>
      <p>
        Mindfulness is the basic human ability to be fully present, aware of
        where we are and what we’re doing, and not overly reactive or
        overwhelmed by what’s going on around us. While mindfulness is something
        we all naturally possess, it’s more readily available to us when we
        practice on a daily basis. Whenever you bring awareness to what you’re
        directly experiencing via your senses, or to your state of mind via your
        thoughts and emotions, you’re being mindful.
      </p>
    </div>
    <Button slot="column-1-cta">Learn More</Button>
    <div slot="column-2-body">
      <h2>How?</h2>
      <p>
        Mindfulness is available to us in every moment, whether through
        meditations and body scans, or mindful moment practices like taking time
        to pause and breathe when the phone rings instead of rushing to answer
        it. Our sessions can help you achieve this in a calm and relax space.
        Sometimes mindfulness makes you turn towards things you would normally
        avoid. That can be challenging. As an experienced mindfulness teacher I
        can help you to pace yourself.
      </p>
    </div>
    <Button slot="column-2-cta" outlined>Learn More</Button>
    <div slot="column-3-body">
      <h2>What?</h2>
      <p>
        Our lunchtime sessions on a Monday give a welcome back from the busy
        life at work Join us on a Monday lunch 12.30 at XXXX We also have Monday
        Evening sessions 7.30 at XXXX Classes are £8 a session. You don't need
        to bring anything.
      </p>
    </div>
    <Button slot="column-3-cta">Learn More</Button>
  </ThreeColumnTextSection>

  <YouTubeEmbedSection url="https://www.youtube.com/watch?v=cbYr75_R15M" rounded
  />

  <StickyTextImageSection>
    <div slot="text-container">
      <h2>More about mindfulness</h2>
      <h3>Life is busy, take time for you.</h3>
      <p>
        Mindfulness enhances your life in many ways - reducing stress, improving
        mental health, boosting focus, enhancing relationships, and fostering
        contentment, all by being present in the moment. It's a versatile
        solution for emotional balance, stress relief, and personal growth
      </p>
      <h3>Responsive</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
        tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
        consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
        mollitia cumque. Velit.
      </p>
      <h3>Themeable</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolorem
        tempore odio! Nemo consectetur ipsa aperiam similique maxime maiores
        consequatur explicabo ut quibusdam fugiat corporis, dignissimos tenetur,
        mollitia cumque. Velit.
      </p>
    </div>
    <picture slot="image-container">
      <img
        src="/beinthemoment/assets/assets/images/landing-1/landing-sticky.jpg"
        alt="Astro Odyssey"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>

  <CtaCardSection
    background="var(--theme-surface-2)"
    color="var(--theme-on-surface-2)"
  >
    <h2>Start your journey for into mindfulness today</h2>
    <p>Somethign something</p>
    <Button href="/beinthemoment/assets//theme/get-started" customIcon
      >Get Started <Fragment slot="icon">
        <Icon name="ic:baseline-chevron-right" />
      </Fragment></Button
    >
  </CtaCardSection>
</Layout>
