---
import { Button, FormInput, FormSelect, FormTextarea } from '@components/odyssey-theme';

const selectOptions = [
  "Monday Lunch time 12.45 until 1.30",
  "Monday Evening 7.30 until 8.45",
  "One to One session",
  "Other",
  "None",
]

---

<form name="Contact Form" method="POST" action="/company/contact-thank-you">
  <FormInput type="text" label="Name" name="Name" placeholder="" />
  <FormInput type="email" label="Email" name="Email" placeholder="hello@example.com" />
  <FormSelect label="Which class are you interested in?" options={selectOptions} />
  <FormTextarea label="Message" name="Message" placeholder="Your message here..." />
  <Button>Submit</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>